*, body {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;

    width: 100%;
    align-items: center;
    background-color: forestgreen;

    font-size: 21px;
    line-height: 0;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 2rem 1rem;
    display: block;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li:hover {
    background-color: green;
}

.search {
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
}

/* Form style */
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: rgba(128, 128, 128, 0.548) 5px 5px 5px;
    width: 325px; 

    border-radius: 2.5px;
    margin: 3rem auto;
}

.form input, .form button {
    padding: 0.5rem 0.25rem;
    margin: 0.5rem;
    font-size: 1rem;
}

.form button {
    background-color: green;
    color: whitesmoke;
    border-style: none;
    border-radius: 4px;

    transition: 150ms ease-in;
}

.form button:hover {
    transform: scale(1.05);
    background-color: forestgreen;
}

.form h1 {
    margin-left: 8px;
}

/* List style */
.home-head {
    margin: 2rem 0;
}

.container {
    width: 78%;
    margin: 0 auto;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;

    flex: repeat(1fr, 3);
}

/* Post coneiner*/
.post {
    width: 325px;
    height: 200px;
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    transition: 150ms ease-in;
}

.post:hover {
    transform: scale(1.1);
}

.post .frame{
    display: flex;
    height: 80%;   
    background-color: gray;
    justify-content: space-around;

    border-radius: 15px 15px 0 0;
}

.post img {
    height: 100%;
    width: auto;
}

.post-info {
    display: flex;
    justify-content: space-between;

    background-color: forestgreen;
    color: whitesmoke;

    padding: 1rem;

    border-radius: 0 0 15px 15px ;
}


/* Error page */
.error {
    width: fit-content;
    margin: 2rem auto;

    font-size: 2rem;
}
.error h1 {
    margin-bottom: 1.5rem;
}

.home-button{

    width: fit-content;
    margin: 3rem 0;
    padding: 0.2rem 1rem;
    background-color: forestgreen;
    border-radius: 2.5px;
    color: whitesmoke;
    
    
    font-weight: bold;

    transition: 150ms ease-in;
}

.error a {
    text-decoration: none; 
}

.home-button:hover {
    transform: scale(1.1);
}

