@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",'Courier New', Courier, monospace;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;

    width: 100%;
    align-items: center;
    background-color: forestgreen;

    font-size: 21px;
    line-height: 0;

    margin-bottom: 2rem;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 2rem 1rem;
    display: block;
}

.options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    background-color: forestgreen;
}

.navbar li:hover {
    background-color: green;
}

.search {
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
}

.burger-button {
    height: 2.5rem;
    width: 3rem;

    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: 150ms ease-in;
}

.burger-button div {
    width: 2rem;
    height: 5px;

    border-radius: 10px;
    background-color: white;
}

@media (max-width: 600px) {
    .burger-button {
        display: flex;
    }

    .options {
        position: absolute;
        flex-direction: column;
        top: 4rem;
        right: 0px;
    }

    .burger-button:hover{
        transform: scale(1.1);
    }
}



/* Form style */
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: rgba(128, 128, 128, 0.548) 5px 5px 5px;
    max-width: 325px; 

    border-radius: 2.5px;
    margin: 3rem auto;
}

.form input, .form button {
    padding: 0.5rem 0.25rem;
    margin: 0.5rem;
    font-size: 1rem;
}

.form button {
    background-color: green;
    color: whitesmoke;
    border-style: none;
    border-radius: 4px;

    transition: 150ms ease-in;
}

.form button:hover {
    transform: scale(1.05);
    background-color: forestgreen;
}

.form h1 {
    margin-left: 8px;
}

/* List style */
.home-head {
    margin: 2rem 0;
}

.container {
    width: 78%;
    margin: 0 auto;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;

    flex: repeat(1fr, 3);
}

/* Post coneiner*/
.post {
    width: 325px;
    display: flex;
    flex-direction: column;

    margin: 1rem 0.5rem;
    transition: 150ms ease-in;
}

.post:hover {
    transform: scale(1.05);
}

.frame{
    display: flex; 
    background-color: gray;
    justify-content: space-around;
    height: 160px;
    border-radius: 15px 15px 0 0;
}

.frame img {
    height: 100%;
    width: auto;
}

.post-info {
    display: flex;
    justify-content: space-between;
    background-color: forestgreen;
    color: #f5f5f5;
    border-radius: 0 0 15px 15px ;
    height: 4rem;
    align-items: center;
    padding: 0 1rem;
}

.post-remove {
    width: fit-content;
    height: 3.5rem;

    background-color: forestgreen;
    color: white;
    font-weight: bold;

    border-style: none;
    padding: 0 0.5rem;
}

.post-remove:hover {
    background-color: green;
}

/* Error page */
.error {
    width: fit-content;
    margin: 2rem auto;

    font-size: 2rem;
}
.error h1 {
    margin-bottom: 1.5rem;
}

.home-button{

    width: fit-content;
    margin: 3rem 0;
    padding: 0.2rem 1rem;
    background-color: forestgreen;
    border-radius: 2.5px;
    color: whitesmoke;
    
    font-weight: bold;

    transition: 150ms ease-in;
}

.error a {
    text-decoration: none; 
}

.home-button:hover {
    transform: scale(1.05);
}

/* post form*/

.post-form {
    display: flex;
    flex-direction: column;
    width: fit-content ;
    padding: 1rem;

    background-color: whitesmoke;
}

.post-form * {
    margin: 0.25rem 0;
}

.new-post button, .new-post input {
    padding: 0.5rem 0.25rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.post-form textarea {
    width: 100%;
    resize: none;
}

.post-form div {
    display: flex;  
    flex-wrap: wrap ;
    justify-content: space-between;
}

.new-post button {
    background-color: forestgreen;
    color: whitesmoke;
    font-weight: bold;

    border-style:none;
    border-radius: 2.5px;

    transition: 150ms ease-in;
}

.new-post button:hover{
    transform: scale(1.05);
}

.price{
    width: 5rem;
    text-align: center;
}

/* More Page*/
.more-page {
    display: flex;
    flex: 3fr 1fr;
    flex-wrap: wrap;
}

.more-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    width: 40rem;

    align-items: center;
}

.more-frame {
    height: 25rem;
    width: 40rem;
    background-color: gray;
    margin: 1rem;

    display: flex;
    justify-content: center;

    border-radius: 10px;
}

.more-frame img {
    height: 100%;
    width: auto;
}

.more-info {
    width: 15rem;
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
}

.more-info div {
    margin-top: 1rem;
}

@media (max-width: 325px) {
    .container {
        width: 100%;
    }

    .form {
        width: 85%;
    }

    .post-form {
        width: 90vw;
    }
}

.hidden {
    display: none;
}

.change-pass {
    margin-left: 0;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }

    .more-frame {
        width: 100vw;
        margin: 0;
    }

    .more-frame img {
        width: 100%;
        height: auto;
    }

    .more-header {
        width: 80%;
    }


}

@media (min-width: 600px) {
    .options {
        display: flex;
    }
}