{% extends "layout.html" %}
{% block title%}
    Account
{% endblock%}

{% block main %}
    <div class="container">
        <h1>Account</h1>
        <p>Welcome, {{username}}!</p>
    
        <form class="form change-pass" action="/account" method="post">
            <h2>Change Password</h2>
            <input type="password" name="old_password" placeholder="password">
            <input type="password" name="new_password" placeholder="New password">
            <input type="password" name="confirmation" placeholder="New password (Again)">
            <button type="submit">Apply Changes</button>
        </form>
    </div>
    
    
{% endblock %}