{% extends "layout.html" %}

{% block title %} 
    home
{% endblock %}

{% block main %} 

    <div class="container">
        <div class="home-head">
            <h1>Discorver</h1>
            <input type="text" class="search" autocomplete="off" placeholder="Search">
                   
        </div>
        <section class="list">  
            {% for post in posts %}
                <div class="post">
                    <input type="hidden" value="{{post.id}}">
                    <div class="frame">
                        <img src="static/img/{{[post.id, post.extension]|join('.')}}" alt="">
                    </div>
                    <div class="post-info">
                        <p class="title">{{post.title}}</p>
                        <p class="price">{{post.price}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div> 
    
{% endblock %}

{% block script %} 
    <script>

        const searchBar = document.querySelector(".search");

        // Is already declared on layout.html
        posts = document.querySelectorAll(".post");
        
        searchBar.addEventListener("keyup", () => {
            
            const list = document.querySelector(".list");
            const search = normalizeStr(searchBar.value)

            if (search == "") {
                posts.forEach(p => list.appendChild(p))
                return;
            }
                
            
            // Ereasing all posts
            list.innerHTML = ""

            posts.forEach( p => {
                let title = p.querySelector(".title").innerText 
                title = normalizeStr(title)
                // Adding elements with match
                if (title.indexOf(search) >= 0) list.appendChild(p)
            })
        })

        function normalizeStr (str) {
            return str.toLowerCase().trim()
        }
    </script>
{% endblock %}