<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Market: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <a class="brand-title" href="/">FREE MARKET</a> 
        <ul class="options hidden">
            <li><a href="/">Home</a></li>
        {% if not session.userId %}
       
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Resgister</a></li>
   
        {% else %}
   
            <li><a href="/post">My-posts</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
        
        {% endif %}
        </ul>
        <div class="burger-button">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>

    <script>
        let posts = document.querySelectorAll(".post");

        posts.forEach(p => p.addEventListener("click", () => {
            id = p.childNodes[1].value
            window.location.href = `/more/${id}`
        }))    

        document.querySelector(".burger-button").addEventListener("click", () => { 
            const list = document.querySelector(".options")
            list.classList.toggle("hidden")
        })
    </script>

    {% block script %}{% endblock %}
</body>
</html>