{% extends "layout.html" %}
{% block title %} 
    Post
{% endblock %}

{% block main %} 
    <h1>Post</h1>
    <form action="/post" method=post enctype=multipart/form-data>
        <input type="file" name="file">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="price" placeholder="Price">
        <input type="submit" value="Post">
    </form>

    {% for post in posts%}
    <div class="post">
        <div class="frame">
            <img src="static/img/{{[post.id, post.extension]|join('.')}}" alt="">
        </div>
        <div class="post-info">
            <p>{{post.title}}</p>
            <p>{{post.price}}</p>
            <form action="/remove_post" method="post">
                <input type="hidden" name="id" value="{{post.id}}">
                <button type="submit">Remove</button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}