{% extends "layout.html" %}
{% block title %} 
    Register
{% endblock %}

{% block main %} 
    
    <form class="form" action="/register" method="post">
        <h1>Register</h1>
        <input type="text" autocomplete="off" autofocus name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Password (Again)">
        <button type="submit">Register</button>
    </form>
    
{% endblock %}